@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    padding: 0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    }
h1,p
{
    font-size: 20px;
}
header
{

    background-color: black;
    width: 100%;
    float: left;
    padding: 0px;
    color: white;
    
}
.header-sec1 {
    width: auto;
    float: left;
    padding: 0px;
    margin: 0px 70px;
    

}
.header-sec2

{
    float: right;
    margin: 0px 30px;
}
.btnhamberg
{
    height: 25px;
    width: 40px;
    background-color: black;
    color: darkgray;
    font-size: 18px;
    border: 1px solid;
    margin: 10px 45px

}
.section {
    
    border: solid 2px black;
    text-align: center;
    float: left;
    padding: 0px;
    width: 100%;
    background-color:white;
}
.sec-title h1 {
    font-size: 39px;
    margin: 8px;
}

.sec-title {
    float: left;
    padding: 0px 275px;
}
.sec-head {
    padding: 90px 50px;
    float: left;
}

section.folder2 {
    background-color: aliceblue;
    float: left;
    padding: 20px 0px;
    width: 100%;
}
section .folder-head {
    
    display: flex;
    flex-wrap: wrap;
    padding: 0px;

    justify-content: space-evenly;
    width: 94%;
    margin-left: 36px;
    /* border: 1px solid tomato; */
    margin-top: 45px;

}
.folder-content1 {
    /* flex: 33.33%; */
  background-color: white;
    padding: 3px;
    height: 371px;
    width: 362px;
    margin-top: 10px;
    /* border: solid 1px black; */
}
.folder-content1  p,.footer p {
    font-size: 18px;
    font-family: sans-serif;
}
.folder-content1 img {
    height: 225px;
    width: 360px;
}
.folder-content1 ul {
    padding: 0px;
    float: left;
    
    /* border:solid 1px black; */
    

}
.folder-content1 ul li {
    
    float: left;
    padding: 1px;


    list-style: none;
    border:solid 1px black
    
}
.folder-content1 span {
    float: right;
    padding: 0px;
    margin: 15px 30px;
}
footer.footer {
    float: left;
    padding: 0px;
    margin-top: 5px;
    width: 100%;
    border: 1px solid;
}
.footer-body {
    display: flex;
    justify-content: space-between;
    padding: 20px 44px;

}
@media  only screen and (min-width:300px) and (max-width:600px) 
{
    .sec-title {
    
        padding: 64px 8px;
    }
    .header-sec1 {
        padding: 0px 15px;
        float: left;
        margin: 0px 2px;
        width: auto;
    }
    .sec-head
    {
        float:left;
        padding: 0px;
    }

button.btnhamberg {

    margin: 5px 5px;
    height: 40px;
    font-size: 20px;
    width: 50px;
}
    .header-sec2 {
        float: right;
        margin: 0px 0px;
        
    }
}


